<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Quoteskeeper</h1>
  <p>
    Quoteskeeper was built by <a target="_blank" href="https://ch.linkedin.com/in/ladislav-kus-b032829a">Ladislav Kus
  </p>
  <br />
  <p>
  Solution Manager at IBM with 10+ years of experience in the IT Infrastructure Services.
  </p>
  <P>
  If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/">here</a>.
  </p>

<div class="col-xs12 col-sm-4">
<%= image_tag 'LKus.JPG', class: 'img-responsive' %>
</div>
<div calss="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Ladislav Kus</h2>
  <br />
  <p>
  As a Solution Manager I've been involved in a lot of engagement projects and contributed to signings of several long term outsourcing contracts in the value of 100+ Mio US$.
  </p>
</div>
  <br class="clear" />
 
</div>
</div>